@import "./design-system.css";

.splash {
  min-height: 100vh;
  background: #fff;
}

.video-shell {
  width: 100vw;
  height: 100vh;
  background: #fff;
}

.hero-video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #fff;
}
